<div class="col-10 offset-1 text-center">
  <h1>Pokemon</h1>
  <h2><%= @pikachu.name.capitalize %>, I choose you!!!</h2>
  <h2>Abilities:</h2>
  <% @abilities.each do |ability| %>
    <h3 class="abilities"><%= ability.ability.name %></h3>
  </div>
  <% end %>
    <h4><%= image_tag @image %></h4>
